<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>myBank - Abrir Conta</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='icon.png') }}">
</head>
<body>
    <h1>Abrir Nova Conta</h1>
    <form action="{{ url_for('main.create_account') }}" method="post">
        <label for="account_holder">Nome</label><br>
        <input type="text" id="account_holder" name="account_holder" required><br><br>

        <label for="email">Email</label><br>
        <input type="email" id="email" name="email" required><br><br>

        <label for="cpf">CPF</label><br>
        <input type="text" id="cpf" name="cpf" required><br><br>

        <label for="telefone">Telefone</label><br>
        <input type="text" id="telefone" name="telefone" required><br><br>

        <label for="account_password">Senha</label><br>
        <input type="password" id="account_password" name="account_password" required><br><br>
        
        <label for="initial_deposit">Depósito Inicial</label><br>
        <input type="number" id="initial_deposit" name="initial_deposit" required><br><br>
        
        <input type="submit" value="Abrir Conta">
    </form>
</body>
</html>
