<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> TioPaulo Bank- Home</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='icon.png') }}">

</head>
<body>
    <header>
        <h1>Bem-vindo ao TioPaulo Bank</h1>
    </header>
    <main>
        <p>Venha criar sua conta no Tio Paulo Bank </p>
        <div class="button-container">        
            <button id="createAccountBtn">Abir Conta</button><button id="homeLoginBtn">Entrar</button>

        </div>
    </main>
    <script src="static/scripts.js"></script>
</body>
</html>
